# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
instance/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

# OCR & Data
*.traineddata
*.db
*.log
tmp/
ai_med_*
